<h2>All Heroines</h2>


<h3><a href="/heroines/new">Create a new Heroine!</a><br>
<br>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
