<h1>Welcome to the Marvel database!</h1>

Learn about some heroines and the power each one has.<br><br>

<%= link_to "Heroine Index", heroines_path %><br><br>

<%= link_to "Power Index", powers_path %>
